node_modules
**/*.swp
*.log
*.png
dist-e2e
coverage
test/e2e/*.png
storage-client.iml
web/js/config/config.js
web/js/config/locales_config.js
web/locales
dist/
e2e-log/
.idea
*.iml
.sonar
**/*-browserified.js
test/mock-server-log.txt
